name: Tests
on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8]
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install wheel pytest pytest-cov --upgrade
          python setup.py bdist_wheel
          pip install dist/sqtom-0.2.0.dev0-py3-none-any.whl
      - name: Run tests
        run: python -m pytest sqtom/tests --cov=sqtom -p no:warnings --tb=native
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v1
